/*progrmas*/
.footer{
    font-family: 'Poppins', sans-serif;
}
/*logo calistenicx*/
.logo a {
	font-family: 'Poppins', sans-serif;
}
/*pag de testimonio*/
/*body class= res*/
.res {
	font-family: 'Poppins', sans-serif;
}

.logo{
    font-family: 'Poppins', sans-serif;
}