@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import "navbar";
@import "slider";
@import "productos";
@import "queries";
@import "global";
@import "testimonios";
@import "gif";
@import "articulos";
@import "formulario";
@import "fuentes";



/*Estructura General de la Página*/
.principal {
	display: grid;
	grid-template-columns: 1fr;
	background-color: black;
}

.secundario {
	display: grid;
	grid-template-columns: 1fr;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;


	position: absolute;
}

.terciario {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	color: #fff;
	background-color: none;
	font-size: 30px;
	margin-bottom: 20px;
}






























